
  /* Main content */
  .content {
    text-align: center;
    padding: 50px;
  }
  
  .content h1 {
    font-size: 24px;
    margin-bottom: 40px;
    
  }
  
  .options {
    display: flex;
    justify-content: center;
    gap: 200px;
  }
  
  .option {
    text-align: center;
  }
  
  .option img {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    margin-top: 100px;
  }
  
  .option p {
    font-size: 16px;
    color: #333;
  }

  .homepage-title {
    font-size: 30px;
    color: #333;
    text-align: center;
    margin-top: 100px;

  }
  